*{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "meiryo UI";
    color: white;
}

html, body{
    width: 100%;
    height: 100%;
    background: #4a5566;
}

label{
    padding: 5px;
}

input{
    color: black;
}

#main{
    text-align: center;
    /*line-height: 200px;*/
}

.area{
    padding: 20px;
}

#dataset{
    width: 350px;
}
/*.common-btn{
    display: block;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #007bbb;
    color: #FFFFFF;
    margin: 0 auto;
    border-radius: 5px;
}

.common-btn:hover{
    background: #00aeee;
    color: #333333;
}*/