*{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

html, body, #main{
    width: 100%;
    height: 100%;
}

#main{
    text-align: center;
    /*line-height: 100px;*/
    overflow: auto;
}

#menu_wrap{
    display: inline-flex;
    margin: 20px;
}

#filename{
    width: 350px;
    margin: 5px;
    color: black;
}

/*.common-btn{
    display: block;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #007bbb;
    color: #FFFFFF;
    margin: 0 auto;
    border-radius: 5px;
}

.common-btn:hover{
    background: #00aeee;
    color: #333333;
}*/

/*#info_view, #info_canvas{
    width: 100%;
    height: 100%;
}*/

#info_area{
    overflow-y: auto;
    height: 500px;
    border: 1px solid;
}

#info_view{padding: 20px;}

.info-row{
    display: flex;
    margin: 5px;
}

.info-label{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.info-rate-bar{
    height: 20px;
    background: #666677;
    transition-duration: 0.5s;
}

.info-value{
    height: 20px;
    width: auto;
    text-align: center;
    line-height: 20px;
    padding-left: 10px; 
}