*{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "meiryo UI";
    color: white;
}

.on{
    display : block;
}
.off{
    display : none;
}


.common-body{
    background: #4a5566;
}
/*buttonのデザイン*/
.common-btn{
    width        : auto;
    height       : auto;
    border       : 1px solid #54bb44;
    border-radius: 4px;
    margin-left  : 10px;
    text-align   : center;
    /*line-height  : 30px;*/
    background   : #54bb44;
    color        : white;
    padding      : 5px;
    transition-duration: 0.1s;
}

.common-btn:hover{
    background: #76dd66;
    border    : 1px solid #76dd66;
    transition-duration: 0.1s;
}