*{
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    font-family: "meiryo UI";
    overflow: hidden;
}
html, body, #body_wrap{
    width : 100%;
    height: 100%;
    /*display: flex;*/
}
#log{
    border       : 1px solid gray;
    border-radius: 5px;
    width        : 300px;
    height       : 300px;
    padding      : 5px;
}
#log_area{
    width   : 100%;
    height  : 100%;
    overflow: auto;
    border  : none;
}

#top_bar{
    width     : 100%;
    height    : 50px;
    background: #EEE;
    text-align: center;
}

#main_menu{
    position : absolute;
    width    : 40px;
    height   : 40px;
    padding  : 5px;
    margin   : 5px auto auto 5px;
}
#main_menu:hover{
    width        : 42px;
    height       : 42px;
    margin       : 4px auto auto 4px;
    border       : 1px solid #CCC;
    border-radius: 5px;
    background   : #DDD;
}
#top_logo{
    font-family    : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width          : 100px;
    font-size      : 40px;
    font-weight    : bold;
    color          : #333355;
    height         : 50px;
    line-height    : 50px;
    cursor         : pointer;
    border         : 1px solid #EEEEEE;
    border-radius  : 5px;
    transition-duration: 0.2s;
}
#top_logo:hover{
    border: 1px solid #AAAAAA;
    
}
#main_view{
    width   : 100%;
    height  : calc(100% - 50px);
    overflow: hidden;
    border: none;
}
#side_menu{
    position  : absolute;
    height    : calc(100% - 50px);
    background: #3d454d;
}
.side-menu-close{
    width                      : 0px;
    transition-duration        : 0.1s;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration   : 0.1s;
    -o-transition-duration     : 0.1s;
    text-indent                : -9999px;
}
.side-menu-open{
    width                      : 210px;
    transition-duration        : 0.1s;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration   : 0.1s;
    -o-transition-duration     : 0.1s;
}
.side-label{
    display    : block;
    height     : 40px;
    line-height: 40px;
    text-align : center;
    color      : #EEE;
    cursor     : default; 
}
.side-label:hover{
    background: #4e565e;
}